@font-face {
  font-family: "Twister";
  src: url("css/fonts/Twister_Font.ttf");
}

.fonta {
  font-family: Twister;
}

#headerTitle {
  color: black;
  font-size: 65px;
  text-align: center;
  font-weight: bold;
}

#headerTitleSub {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-top: -20px;
}

